@media screen and (min-width: 750px) {
  html {
    font-size: 100%;
  }
}
a,
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
a:active,
a:hover {
  color: #ff0f00;
}
.button {
  margin: 0;
  height: auto;
  padding: 12px 30px;
  font-size: inherit;
  font-weight: normal;
}
.button:active,
.button:hover {
  color: #fff;
  background-color: #ff0f00;
  border-color: #ff0f00;
}
.-title {
  margin-top: 5rem;
  text-align: center;
}
.title {
  font-family: "Caveat", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 6.5rem;
  color: #ff0f00;
}
.share {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
article {
  width: 40em;
  margin: 3rem auto;
}
@media screen and (max-width: 64em) {
  article {
    width: 90%;
  }
}
.-catch-copy {
  text-align: center;
  margin-bottom: 3rem;
}
.-try {
  text-align: center;
  margin: 5rem 0;
}
.-nav-box {
  display: flex;
  justify-content: center;
}
.-nav-box__box {
  margin: 0.5rem 1rem;
}
.brackets {
  padding: 0.66em;
  font-weight: bold;
}
