color-accent = #ff0f00
color-base = white
color-main = black

// Base
a
  &
  &:link
  &:visited
    color color-main
    text-decoration none
  &:active
  &:hover
    color color-accent

.button
  margin 0
  font-size inherit
  font-weight normal
  &:active
  &:hover
    color color-base
    background-color color-accent
    border-color color-accent

// common
.-title
  margin-top 5rem
  text-align center

.title
  font-family "Caveat", Helvetica, Arial, sans-serif
  font-weight bold
  font-size 6.5rem
  color color-accent

.share
  display flex
  justify-content center
  margin 3rem 0

article
  width 40em
  margin 3rem auto
  @media screen and (max-width: 44em)
    width 90%

// index
.-catch-copy
  text-align center
  margin-bottom 3rem

.-try
  text-align center
  margin 5rem 0

.-nav-box
  display flex
  justify-content center
  &__box
    margin 0.5rem 1rem

// congrats
.brackets
  padding 0.66em
  font-weight bold
