a, a:link, a:visited{
    color: black;
}
a:active, a:hover{
    color: red;
}

.title{
    font-family: "Caveat", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 6.5rem;
    text-align: center;
    margin-top: 5rem;
    color: #FF0F00;
}

.description{
    text-align: center;
}

.l-box{
    width: 46%;
    float: left;
    margin: 1rem 0 0 2%;
}

.nav-box--right{
    text-align: right;
    margin-right: 2%;
    margin-left: 0;
}
