doctype html
//
    Github: https://github.com/red-icon/web/
    License: https://github.com/red-icon/web/blob/master/LICENSE

html
    head
        meta(charset='utf8')
        title Red Icon
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        link(href='//fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css')
        link(href='//fonts.googleapis.com/css?family=Caveat:400,700' rel='stylesheet' type='text/css')
        link(rel='stylesheet' href='css/normalize.css')
        link(rel='stylesheet' href='css/skeleton.css')
        link(rel='stylesheet' href='css/main.css')

        //- Twitter card
        meta(name='twitter:card' content='photo')
        meta(name='twitter:site' content='@uranai_Redicon')
        meta(name='twitter:title' content='Red Icon')
        meta(name='twitter:description' content='キャラクターと会話して謎を解く、Twitterゲーム')
        meta(name='twitter:image' content='https://red-icon.github.io/web/asset/twitter-card.jpg')
        meta(name='twitter:url' content='https://red-icon.github.io/web')
