nav
    .-nav-box
        .-nav-box__box: a(href='play.html') 遊び方
        .-nav-box__box: a(href='create.html') 作り方
    .-nav-box
        .-nav-box__box: a(href='https://docs.google.com/forms/d/e/1FAIpQLSeYLly0OxZHjbi6tIQ75dqpdwCTjKUV7A_XSbjiVwyVCcgLZw/viewform?c=0&w=1') 感想・質問
        .-nav-box__box: a(href='vision.html') 今後の展開
