extends parts/layout

block body
    h1.-title.title: a(href='index.html') Red Icon
    article
        p クリアおめでとうございます！
        p このゲームはプロトタイプ版で、今後もどんどん#[a.brackets(href='vision.html') 『 展開 』]するつもりなので、プレイヤー皆さんの声をどんどん#[a.brackets(href='https://docs.google.com/forms/d/e/1FAIpQLSeYLly0OxZHjbi6tIQ75dqpdwCTjKUV7A_XSbjiVwyVCcgLZw/viewform?c=0&w=1') 『 聞かせて 』]ください。(雑談でも意見でも質問でもなんでもご気軽に！)
        p また、このゲームは既存のツールを使って作ったので、誰でも#[a.brackets(href='create.html') 『 作る』]ことができます。興味があったら是非、作ってみてください。そしてできれば#[a.brackets(href='https://twitter.com/keke_moto') 『 @keke_moto 』]に一報くださると喜びます。(ついでにこのページなどで紹介します)

block footer
    include parts/share
    include parts/analytics
