extends parts/layout

block body
    article
        h3 ・ BotGameの作り方
        h5 ・ Step.1
        p #[a(href="twitter.com") Twitter]でアカウントを作ります。
        h5 ・ Step.2
        p #[a(href="") twittbot]に先ほど作成したアカウントでログインします。
        h5 ・ Step.3
        p 返信タブを開きキーワードと、それに対する返信内容を書き込みます。以上です。
