extends parts/layout

block body
    article
        p #[a(href='') 占い師@uranai_Redicon]に『スタート』と＠ツイートを送るとチュートリアルが始まります。占い師さんはスゴウデの人気占い師なので返信には10分ほど時間がかかる場合があります。
        p ここを押しても＠ツイートが送れます
        p #[a(href='') 占い師]さんの返信には『』で囲まれたキーワードが含まれています。このキーワードを使った＠ツイートをBotキャラクターに送ると、キーワードに関する情報を知ることができます。プレイヤーさんはこのキーワードを集めて、送って、知って、推理することでキャラクターたちに起きる奇妙なできごと
