extends parts/layout

block body
    article
        p ・遊び方
        ol(type="1")
            li  #[a(href='') 占い師]@uranai_Rediconに『スタート』と@ツイートを送ります。
            li  占い師さんから返信が来ます。　この返信の中の『』に囲まれた言葉がキーワードです。
            li  『』内のキーワードを占い師さんにもう一度送ると、また返信が返ってきます。
            li  占い師さん以外に、店長さんがいます。　占い師さんの言うとおりに店長さんにも話しかけて物語を勧めていってください。
            li  店長さんの話を聞きながら、とある謎について推理し、解いてください。　答えは、占い師さんに言うと正解かどうかわかります。
        p 主な流れは以上です。　
        p では、実際にやってみましょう。

        h5 ＠ツイートとは
        p twitterで特定の人に向けて、メッセージを送ることができます。「@アカウント名」を入れて、呟きましょう。
        p 「@アカウント名」でつぶやいた場合は、その相手のタイムライン及び、相手と自分の両方をフォローしてる人のタイムラインにしか表示されません。
        p 捨てメールアドレスを使うことを推奨します

        h5 twitterアカウントを作成のためのメールアドレスの作り方。
        p 他の人にtwibotとの会話を見られるのが恥ずかしいという人のためのに捨てメールアドレスを
        p 作ることをお勧めします。
        p 以下のURLから、15分で消滅する、捨てメールアドレスを作ることができます。

        h5 注意点
        p 複数キーワードを入れると誤作動をするので、やめましょう
        p 占い師はヘルプ要員です。困ったときには頼りましょう。
        p キーワードのみを入れる必要はありません。　キーワードを含めた好きな言葉を入れましょう。
        p 『』がなくなったら、過去の『』内のキーワードを入れてみましょう。
